@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Geist", system-ui, sans-serif;
}

body {
  background-color: #f3f6f3;
  min-height: 100vh;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}
